@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,400;0,600;0,800;1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    background: #b47eb6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 2rem 0;
}

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container nav .logo{
    color: #212a3c;
    font-size: 1.2rem;
    cursor: pointer;
}

.container .nav-link {
    display: flex;
}

.container .nav-link li {
    list-style: none;
    margin: 0 0.5rem;
}

.container ul li a {
    color: #212a3c;
    font-size: 1.3rem;
    padding: 0.7rem 1rem;
    display: block;
    border-radius: 10px;
    border-radius: 4px;
}

.container ul li a:hover {
    background-color: #8b548d;
}

.content{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.content h2{
    font-size: 6rem;
    color: black
}

.icon {
    padding: 0.7rem 1rem;
    border-radius: 4px;
}

.icon:hover {
    background-color: #8b548d;
}